@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .postion-center {
    @apply absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 transform;
  }

  .accesibility-hidden {
    @apply absolute -m-[1px] h-[1px] w-[1px] overflow-hidden;
  }
}
